{% load static %}

<!-- Branches -->
<div class="card card-branches" style="margin-top:16px">
  <div class="br-head">
    <strong>Branches ({{ branch_count }})</strong>

    <a class="view-all" href="{% url 'offers:user_all_branches' %}" data-requires-network="1">
      View all
    </a>
  </div>

  {% if branch_count %}
    <div class="br-grid">
      {% include "user_interface/user_homepage/partials/branch_all_list.html" with branches=branches %}
    </div>
  {% else %}
    <div class="msg">No branches yet.</div>
  {% endif %}
</div>